@charset "UTF-8";

html {
  font-size: 18px;
  font-family: 'Shippori Mincho B1', serif;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}

a {
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.button {
  border: 1px solid;
  font-size: 1.0rem;
  line-height: 1.5;
  /* position: relative; */
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
}

a.button:hover {
  background: #244174;
  border-color: #244174;
  color: #ffffff;
}

a.sns  {
  text-align: left;
  font-family: 'serif';
  line-height: 15px;
  display: inline-block;
  width: 200px;
  height: 10px;
  margin-left: 10px;
  line-height: 10px;
}

.fa-brands {
  margin-right: 5px;
}

/*--------------------
ヘッダー
--------------------*/

header {
  background-color: #EED8AE;
  height: 600%;
  margin: 0;
}

.header .wrapper {
  padding: 50px 5% 100px 5%;
  height: 100%;
}

.header .sns_box {
  text-align: right;
  margin-right: 50px;
}

.header .sns_box a {
  margin-right: 2px;
  font-size: 0.75rem;
  padding-top: 10px;
}

.header .logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.header .menus {
  padding: 0 50%;
  display: block;
}

.header .menus ul {
  text-align: center;
  display: flex;
  flex-direction : row-reverse;
  justify-content: center;
  align-items: flex-start;
}

.header .menus li {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: inline-block;
  margin-right: 80px;
}

.header .menus li:first-child {
  margin-right: 0;
}

.header .menus li a {
  font-size: 1.5rem;
}

.header .menus li a:hover {
  opacity: 0.7;
  border-right: 1px solid;
  transition: all 0.3s;
}

/*-----------------------
メイン
-----------------------*/
main .wrapper {
  margin: 150px 0px;
  padding: 0;
  width: 100%;
}

main section {
  margin-bottom: 150px;
  width: 100%;
}

/* コンセプトとおしながき 共通 */
main .main_back {
  background-color: #EED8AE;
  height: 400px;
  z-index: 5;
  width: 90%;
}

main .title_wrap {
  position: relative;
  z-index: 80;
  top: 40px;
  background-color: #244174;
  height: 80px;
  opacity: 0.90;
  width: 40%;
}

main h2 {
  font-size: 2.0rem;
  color: #f0f0f0;
  opacity: 0.9;
}

main .title_wrap .title {
  position: absolute;
  top: 20px;
}

main .mainvisual {
  width: 90%;
}

main .main_back {
  position:relative;
  height: 350px;
}

main .mainvisual .main_img {
  position: absolute;
  top: 20px;
  z-index: 1;
}

main .mainvisual img{
  max-width: 450px;
}

#oshinagaki .main_logo img {
  max-width: 250px;
}

main .mainvisual .main_text {
  position: absolute;
  z-index: 2;
  top: 80px;
}

main .msg_title {
  letter-spacing: 1px;
  font-size: 1.0rem;
  margin-bottom: 10px;
  line-height: 150%;
}

main .msg {
  font-size: 0.65rem;
  line-height: 150%;
}

main .main_logo {
  margin-top: -60px;
  z-index: 20;
  position: absolute;
}

main .main_logo img {
  width: 300px;
}

/* お知らせと店舗情報 共通 */
main .info_wrapper {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

main .info_wrapper .title_wrapper {
  margin-bottom: 30px;
  position: relative;
}

main .title_wrapper img {
  left: 50%;
  right: 50%;
  top:0;
  width: 700px;
}

main .info_wrapper .title_wrapper .info_title {
  position: absolute;
  left: 45%;
  top: 45px;
}

/*-----------------------
コンセプト
-----------------------*/
#concept .title_wrap {
  border-radius: 0 40px 40px 0;
}

#concept .title_wrap .title {
  right: 10%;
}

#concept .mainvisual {
  text-align: right;
  margin-left: 20%;
}

#concept .main_back {
  border-radius: 200px 0 0 200px;
}

#concept .mainvisual .main_img {
  position: absolute;
  right: 5%;
}

#concept .mainvisual .main_text {
  left: 100px;
  text-align: left;
}

#concept .main_logo {
  text-align: left;
  margin-left: 100px;
}

/*-----------------------
おしながき
-----------------------*/
#oshinagaki .title_wrap {
  border-radius: 40px 0 0 40px;
  margin-left: 60%;
}

#oshinagaki .title_wrap .title {
  left: 10%;
}

#oshinagaki .mainvisual {
  text-align: left;
  margin-right: 20%;
  position: relative;
}

#oshinagaki .main_back {
  border-radius: 0 200px 200px 0;
}

#oshinagaki .mainvisual .main_img {
  left: 5%;
}

#oshinagaki .mainvisual .main_text {
  right: 200px;
  text-align: left;
}

#oshinagaki .main_logo {
  position: absolute;
  right: 25%;
  margin-left: 100px;
}

#oshinagaki .msg_button .button {
  width: 220px;
  height: 15px;
  line-height: 15px;
  margin-top: 20px;
}

/*-----------------------
お知らせ
-----------------------*/

#news .info_text {
  margin-bottom: 20px;
}

#news .news_view {
  margin-right:20%;
  margin-left:20%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 120%;
}

#news .info_text dt {
  width: 20%;
  margin-top: 10px;
  text-align: right;
  font-size: 1.1rem;
}

#news .info dt:first-of-type {
  margin-top: 0;
}

#news .info_text dd {
  width: 80%;
  margin-top: 10px;
}

#news .news_btn .button {
  width: 300px;
  height: 20px;
  line-height: 20px;
}
/*-----------------------
店舗情報
-----------------------*/
#shopinfo .info_text {
  margin-top: 20px;
}

#shopinfo .main_visual img {
  width: 600px;
}

#shopinfo .shop_add {
  margin-top: 20px;
  margin-bottom: 20px;
}

#shopinfo .shop_add h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

#shopinfo .shop_add p {
  line-height: 150%;
}

#shopinfo .map_btn .button {
  width: 300px;
  height: 20px;
  line-height: 20px;
}

/*-----------------------
フッター
-----------------------*/

footer {
  background-color: #EED8AE;
  margin: 0;
}

footer .wrapper {
  margin: 10px 10px 0 10px;
  padding: 30px 20px 20px 20px;
  height: 100%;
}

footer .footer_main{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 20px auto 20px auto;
}

footer .footer_main .footer_logo{
  margin-right: 70px;
}

footer .footer_logo img {
  max-width: 150px;
}

footer .footer_content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 40px;
}

footer .footer_title {
  display: flex;
  margin-bottom: 10px;
  height: 80px;
}

footer .shop_name {
  margin-right: 20px;
  line-height: 50px;
  flex: 3;
}

footer .shop_name h2 {
  font-size: 1.3rem;
}

footer .sns_box {
  text-align: right;
  flex: 2;
}

footer .sns_button a {
  margin-left: 10px;
  font-size: 0.75rem;
  padding-top: 10px;
  padding-left: 10px;
}

footer .address {
  margin-bottom: 20px;
  line-height: 30px;
}

footer .address h3 {
  font-size: 1.1rem;
  line-height: 25px;
  letter-spacing: 1px
}

footer .contact {
  text-align: left;
}

a.contact_btn  {
  padding: 20px 30px;
  line-height: 15px;
  display: inline-block;
  color: #fff;
  border-color: #244174;
  background-color: #244174;
}

a.contact_btn:hover {
  background: #f0f0f0;
  border-color: #f0f0f0;
  color: #244174;
}

footer .copyright {
  text-align: center;
}

footer .copyright p{
  font-size: 0.75rem;
}

